# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# MLflow
mlruns/
mlartifacts/

# Artifacts
*.pkl
*.pickle

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
